@font-face {
    font-family: myFont;
    src: url(PIZZADUDEFATOUTLINE.ttf);
}

@font-face {
    font-family: myFont1;
    src: url(Ghostmeat.otf);
}


* {
    margin: 0;
    padding: 0;
    font-family: myFont;
    box-sizing: border-box;
    font-weight: bold;
    user-select: none;
}

.bg {
    /* display: none; */
    position: absolute;
    z-index: -1;
    opacity: 0.5;
    filter: blur(5px);
    height: 100vh;
    width: 100vw;
}

h1 {
    display: flex;
    justify-content: center;
    height: 20vh;
    align-items: center;
    font-size: 11vmin;

}

.compart1 {
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    font-size: 5vmin;

}

.compart2 {
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    font-size: 4vmin;



}

.compart3 {
    display: flex;
    flex-direction: column;
    height: 20vh;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    font-size: 4vmin;




}

.btnDiv {
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: start;

}

#sBtn {
    height: 5vmax;
    width: 25vmin;
    font-size: 4vmin;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 20px;
    border: none;

}

input[type="text"] {
    text-align: center;
    max-width: 35%;
    height: 5vh;
    border-radius: 10px;
    font-size: 4vmin;
    box-shadow: 0px 0px 20px;
    border: none;
    display: none;
}

.comp1child {
    /* width: 80%; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked+label {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px;

}

#allowUndo {
    display: flex;
    align-items: center;
    gap: 6vmin;
    justify-content: center;
}

.sizeSelecor {
    display: flex;
    align-items: center;
    gap: 5vw;
}

.sizeItem:nth-child(2) {
    font-family: myFont1;
    font-size: 6vmin;
}

#plus,
#minus {

    border-radius: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px;
    cursor: pointer;
    font-size: 6vmin;

}
